.home-style24.home .main-page .page>.entry-content {
  margin-top: 0 !important;
}
.home-style24.boxed-layout {
  max-width: 1440px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px #000;
}
.home-style24.boxed-layout .elementor-section-stretched {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  left: 0 !important;
  right: 0 !important;
}
.home-style24.boxed-layout .elementor-section-full_width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.home-style24 .sale-off {
  display: none;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  height: 20px;
  width: 42px;
  left: 10px;
  top: 10px;
  background-color: #c80e00;
  border-radius: 0;
}
.home-style24 div.star,
.home-style24 div.stars {
  height: 10px;
  width: 65px;
  background: url("../assets/img/star-23.png") repeat-x scroll 0 0 rgba(0,0,0,0);
}
.home-style24 div.star span,
.home-style24 div.stars span {
  background: url('../assets/img/star23-active.png') repeat;
}
.home-style24 .item .item-wrap .item-detail .item-content .item-price {
  font-size: 16px;
  color: #e52323;
  font-weight: 600;
}
.home-style24 .item .item-wrap .item-detail .item-content .item-price ins {
  font-size: 16px;
  color: #e52323;
  font-weight: 600;
}
.home-style24 .item .item-wrap .item-detail .item-content .item-price del {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.home-style24 >.body-wrapper>.body-wrapper-inner>.container,
.home-style24 >.container {
  max-width: 1920px;
  padding: 0 !important;
}
.home-style24 .container .elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1440px;
}
.home-style24 .elementor-widget-image img.size-full {
  margin: 0 0 10px;
}
.home-style24 .elementor-column-gap-default .elementor-column>.elementor-element-populated {
  padding: 10px 15px;
}
.home-style24 [data-elementor-type*="footer"] {
  overflow-y: hidden;
}
.circle-text-home24 {
  position: relative;
}
.circle-text-home24 .elementor-widget:not(:last-child),
.circle-text-home24 .elementor-widget-html {
  margin: 0;
}
.circle-text-home24 .elementor-widget-html {
  position: initial;
}
.circle-text-home24 .elementor-widget-html .circle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Jost;
  color: #000;
  letter-spacing: 1px;
  position: absolute;
  top: 120px;
  right: 45px;
}
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(1),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(2),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(3),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(4),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(9),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(10),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(11),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(12),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(17),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(18),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(19),
.circle-text-home24 .elementor-widget-html .circle >p:nth-child(20) {
  color: #a7c84e;
}
.header-top-elementor24 {
  background-color: var(--color);
}
.header-top-elementor24 .header-message {
  line-height: 34px;
}
.header-top-elementor24 .header24-block {
  margin: 0;
}
.header-top-elementor24 .header24-block >li {
  float: left;
  padding: 0px 24px;
  line-height: 35px;
  position: relative;
}
.header-top-elementor24 .header24-block >li i {
  margin-right: 10px;
  color: #fff;
}
.header-top-elementor24 .header24-block >li:before {
  content: '';
  height: 12px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  right: 0;
}
.header-top-elementor24 .header24-block >li a {
  display: inline-block;
  color: #fff;
  font-size: 12px;
}
.header-top-elementor24 .header24-block >li a:hover {
  color: #f5f5f5;
}
.header-top-elementor24 #lang_sel>ul.nav>li {
  padding: 8px 0 8px 0;
}
.header-top-elementor24 .currency_w>li {
  padding: 8px 0 8px 0;
}
.header-top-elementor24 .currency_w>li >a:before {
  top: 4px;
  height: 12px;
  background-color: #fff;
}
.header-top-elementor24 .currency_w>li .currency_switcher,
.header-top-elementor24 #lang_sel>ul.nav>li>ul {
  margin-top: -3px;
}
.header-mid-elementor24 {
  padding: 18px 0;
}
.header-mid-elementor24 .top-left1 .elementor-widget-image {
  padding-top: 4px;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry {
  border: 1px solid #ededed;
  border-radius: 3px;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry .cat-wrapper {
  display: none;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry input {
  height: 42px;
  padding: 0 24px;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry button.form-button {
  height: 42px;
  line-height: 42px;
  background-color: #fff;
  width: 42px;
  color: #000;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry button.form-button:before {
  font-size: 16px;
}
.header-mid-elementor24 .top-form.top-search .topsearch-entry button.form-button:hover:before {
  color: var(--color);
}
.header-mid-elementor24 .get-code {
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
  color: var(--color);
  position: relative;
}
.header-mid-elementor24 .get-code:before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--color);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.header-mid-elementor24 .elementor-widget-wp-widget-nav_menu ul.menu {
  margin-top: 5px;
}
.header-mid-elementor24 .elementor-widget-wp-widget-nav_menu ul.menu >li:first-child a {
  font-size: 14px;
  color: #000;
}
.header-mid-elementor24 .elementor-widget-wp-widget-nav_menu ul.menu >li:first-child a .fa {
  display: inline-block;
  margin-right: 8px;
  height: 16px;
  width: 18px;
  background: url("../assets/img/heart-24.svg") no-repeat;
  background-size: contain;
  background-position: top 1px center;
}
.header-mid-elementor24 .elementor-widget-wp-widget-nav_menu ul.menu >li:first-child a:hover {
  color: var(--color);
}
.header-mid-elementor24 .top-login {
  padding: 13px 0 7px;
}
.header-mid-elementor24 .top-login {
  margin-right: 35px;
  margin-left: 30px;
}
.header-mid-elementor24 .top-login ul li:before {
  content: '';
  margin: 2px 2px 0;
  width: 16px;
  height: 16px;
  background: url("../assets/img/user-24.svg") no-repeat;
  background-size: contain;
}
.header-mid-elementor24 .top-login ul li a {
  font-size: 14px;
  color: #000;
}
.header-mid-elementor24 .top-login ul li a:hover {
  color: var(--color);
}
.header-mid-elementor24 .top-login ul li .btn-reg-popup span {
  display: none;
}
.header-mid-elementor24 .top-form.top-form-minicart .minicart-title {
  padding: 0px 0 0 8px;
}
.header-mid-elementor24 .top-form.top-form-minicart .minicart-title h3 {
  display: none;
}
.header-mid-elementor24 .top-form.top-form-minicart .minicart-title p {
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}
.header-mid-elementor24 .top-form.top-form-minicart .top-minicart-icon {
  width: 16px;
  height: 18px;
  margin-top: 1px;
  background: url("../assets/img/icon-cart-24.svg") no-repeat;
  background-size: contain;
}
.header-bottom-elementor24 {
  padding-bottom: 0;
}
.header-bottom-elementor24 >.elementor-container {
  position: relative;
}
.header-bottom-elementor24 >.elementor-container:before {
  content: '';
  height: 1px;
  width: 1410px;
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #ededed;
}
.header-bottom-elementor24 .nav-pills>li >a {
  font-size: 14px;
  color: #777;
  text-transform: capitalize;
  font-weight: 400;
  padding: 15px 25px;
}
.header-bottom-elementor24 .nav-pills>li.active>a,
.header-bottom-elementor24 .nav-pills>li:hover>a {
  color: var(--color);
}
.header-bottom-elementor24 .nav-pills>li.dropdown>a:after {
  right: 10px;
}
.header-bottom-elementor24 .mega-left-title {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
}
.header-bottom-elementor24 .mega-left-title span {
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  font-weight: 400;
}
.header-bottom-elementor24 .mega-left-title span:before {
  content: '';
  width: 14px;
  height: 14px;
  background: url("../assets/img/icon-grid.svg") no-repeat;
  background-size: contain;
}
.header-bottom-elementor24 .mega-left-title span:after {
  right: 30px;
  content: '\f0dd';
  color: #000;
  top: -3px;
}
.header-bottom-elementor24 .elementor-widget-wp-widget-sw_vertical_menu {
  position: relative;
}
.header-bottom-elementor24 .elementor-widget-wp-widget-sw_vertical_menu:after {
  content: '';
  height: 20px;
  width: 1px;
  background-color: #ededed;
  position: absolute;
  top: 15px;
  right: -10px;
}
.slider-home24 .elementor-column-gap-default .elementor-column>.elementor-element-populated {
  padding-top: 0 !important;
}
#slider-home24 .tp-bullets.ares {
  height: 16px !important;
  padding: 0 30px !important;
  border-radius: 8px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
#slider-home24 .tp-bullets.ares .tp-bullet {
  background-color: #fff !important;
  width: 8px !important;
  height: 8px !important;
  margin: 4px 18px !important;
}
#slider-home24 .tp-bullets.ares .tp-bullet:hover,
#slider-home24 .tp-bullets.ares .tp-bullet.selected {
  background-color: var(--color) !important;
}
#slider-home24 .tp-bullets.ares .tp-bullet .tp-bullet-title {
  display: none;
}
#slider-home24 .see-more13 {
  height: 44px !important;
  line-height: 44px !important;
  color: #fff !important;
  font-weight: 500 !important;
  position: relative !important;
  background-color: #fff !important;
  color: #000 !important;
  padding: 0 30px !important;
  display: block !important;
}
#slider-home24 .see-more13:hover {
  background-color: var(--color) !important;
  color: #fff !important;
}
.home24-image >.elementor-container {
  max-width: 1430px !important;
}
.home24-image .elementor-column-gap-default .elementor-column>.elementor-element-populated {
  padding: 0 5px !important;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper {
  position: relative;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-img {
  margin: 0 0 5px !important;
  overflow: hidden;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-img img {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content {
  width: 200px;
  background-color: #fff;
  text-align: left;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding: 8px 25px 14px;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content h3.elementor-image-box-title {
  margin: 0 0 5px;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content h3.elementor-image-box-title a {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--color);
  font-family: Jost;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content h3.elementor-image-box-title a:hover {
  color: #222;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content .elementor-image-box-description a {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: var(--color);
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content .elementor-image-box-description a:hover {
  color: #222;
}
.home24-image .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-content .elementor-image-box-description a:after {
  content: '\f105';
  font-family: FontAwesome;
  margin-left: 8px;
  font-style: normal;
}
.sw-brand-container-slider5 .resp-slider-container .slider .item .item-image {
  text-align: center;
}
.sw-brand-container-slider5 .resp-slider-container .slider .item .item-image a {
  display: inline-block;
  max-width: 100%;
}
.sw-brand-container-slider5 .resp-slider-container .slider .item .item-image a img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.sw-brand-container-slider5 .resp-slider-container .slider .item .item-image a:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.sw-woo-tab-cat10 .resp-tab {
  margin: 110px 0;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider {
  border: 0;
  text-align: center;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs {
  float: none;
  display: inline-block;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li {
  margin: 0 28px;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li:before {
  opacity: 0;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li >a {
  font-size: 30px;
  height: auto;
  line-height: normal;
  padding: 0;
  border-radius: 0;
  overflow: visible;
  color: #999;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li >a:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li:hover>a,
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li.active>a {
  color: #000;
}
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li:hover>a:before,
.sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li.active>a:before {
  opacity: 1;
}
.sw-woo-tab-cat10 .resp-tab .tab-content .tab-pane .resp-slider-container {
  text-align: center;
}
.sw-woo-tab-cat10 .resp-tab .tab-content .tab-pane .resp-slider-container .view-all {
  display: inline-block;
  height: 50px;
  background-color: var(--color);
  padding: 0 44px;
  color: #fff;
  line-height: 50px;
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
}
.sw-woo-tab-cat10 .resp-tab .tab-content .tab-pane .resp-slider-container .view-all:hover {
  background-color: var(--darken5);
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(225,40,20,0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(225,40,20,0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(225,40,20,0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(225,40,20,0.4);
    box-shadow: 0 0 0 0 rgba(225,40,20,0.3);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(225,40,20,0);
    box-shadow: 0 0 0 20px rgba(225,40,20,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0px rgba(225,40,20,0);
    box-shadow: 0 0 0 0px rgba(225,40,20,0);
  }
}
.block-step-design {
  margin: 120px 0 0;
}
.block-step-design >h3 {
  font-size: 30px;
  color: #000;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}
.block-step-design >h4 {
  font-size: 20px;
  color: #444;
  font-weight: 400;
  margin: 0 0 43px;
  text-align: center;
}
.block-step-design .wrap {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.block-step-design .wrap:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ededed;
  left: 0;
  top: 27px;
  position: absolute;
  display: inline-block;
}
.block-step-design .wrap .item {
  float: left;
  width: 25%;
  padding: 0 15px;
  text-align: center;
}
.block-step-design .wrap .item:hover .number span {
  animation: pulse 3000ms linear infinite;
  border: 3px solid #ff3c20;
  background-color: #ff3c20;
  color: #fff;
}
.block-step-design .wrap .item:hover h3 {
  margin-top: 0;
}
.block-step-design .wrap .item .number {
  padding: 0 20px;
  position: relative;
  display: inline-block;
  z-index: 3;
  margin: 0 0 20px;
  background-color: #F5F6FA;
}
.block-step-design .wrap .item .number span {
  display: inline-block;
  font-size: 14px;
  background-color: #fff;
  border: 3px solid #ededed;
  color: #000;
  font-weight: 600;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 28px;
}
.block-step-design .wrap .item h3 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin: 0px 0 10px;
}
.block-step-design .wrap .item p {
  font-size: 16px;
  color: #333;
  padding: 0 25px;
}
.brand-home24 .sw-brand-container-slider5 {
  padding: 98px 0px;
}
.brand-home24 .sw-brand-container-slider5 .title-home h2 {
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 50px;
  text-align: center;
  font-family: Jost;
}
.newsletter-home24 .wrap-content {
  text-align: center;
  padding: 49px 0 48px;
}
.newsletter-home24 .wrap-content h3 {
  font-size: 30px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 12px;
}
.newsletter-home24 .wrap-content p {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  line-height: 30px;
}
.newsletter-home24 .wrap-content .mc4wp-form {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
  min-width: 330px;
  border: 0;
}
.newsletter-home24 .wrap-content .mc4wp-form p {
  margin: 0;
}
.newsletter-home24 .wrap-content .mc4wp-form input {
  height: 44px;
  border-radius: 0;
  border: 0;
  margin: 0 !important;
}
.newsletter-home24 .wrap-content .mc4wp-form input[type="email"] {
  background-color: #fff;
  border-radius: 0;
  padding: 0 25px;
  width: 100%;
  font-size: 14px;
}
.newsletter-home24 .wrap-content .mc4wp-form input[type="submit"] {
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  padding: 0;
  top: 14px;
  border-radius: 0;
  font-size: 0;
  background: url(../assets/img/default/send.svg) no-repeat center center transparent;
  background-size: cover;
}
.newsletter-home24 .wrap-content .flag {
  display: block;
}
.testimonial-slider2 {
  text-align: center;
  position: relative;
  width: 58%;
  margin: 0 auto;
  padding: 80px 0 95px;
}
.testimonial-slider2 >.elementor-widget-container>h5 {
  display: none;
}
.testimonial-slider2 .block-title h2 {
  font-size: 30px;
  color: #000;
  text-transform: none;
  font-weight: 400;
  margin: 0 0 60px;
}
.testimonial-slider2 .carousel-control {
  width: 30px;
  background-image: none;
  text-shadow: none;
  height: 40px;
  opacity: 1;
  line-height: 40px;
  top: 60%;
  margin-top: -15px;
  color: #000;
  font-size: 40px;
  z-index: 3;
  cursor: pointer;
}
.testimonial-slider2 .carousel-control:hover {
  color: var(--color);
}
.testimonial-slider2 .carousel-inner .item .item-inner .image-client {
  max-width: 80px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
}
.testimonial-slider2 .carousel-inner .item .item-inner .image-client img {
  border-radius: 50%;
}
.testimonial-slider2 .carousel-inner .item .item-inner .client-comment {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  padding: 35px 80px 20px;
  line-height: 28px;
}
.testimonial-slider2 .carousel-inner .item .item-inner .client-say-info h2 {
  font-size: 12px;
  color: var(--color);
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 22px;
  position: relative;
  display: inline-block;
}
.testimonial-slider2 .carousel-inner .item .item-inner .client-say-info h2 a {
  color: var(--color);
}
.testimonial-slider2 .carousel-inner .item .item-inner .client-say-info h2:before {
  content: '';
  width: 10px;
  height: 2px;
  background-color: var(--color);
  position: absolute;
  left: 0;
  top: 5px;
}
.testimonial-slider2 .carousel-inner .item .item-inner .client-say-info .info-client {
  display: none;
}
.instagram-home24 #sb_instagram {
  position: relative;
}
.instagram-home24 #sb_instagram .sb_instagram_header {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  float: none;
  width: auto;
  padding: 0;
  z-index: 3;
  margin-left: -185px;
}
.instagram-home24 #sb_instagram .sb_instagram_header .sbi_header_img {
  display: none;
}
.instagram-home24 #sb_instagram .sb_instagram_header .sbi_header_text {
  float: none;
  width: auto;
  padding: 0;
}
.instagram-home24 #sb_instagram .sb_instagram_header .sbi_header_text h3 {
  display: none;
}
.instagram-home24 #sb_instagram .sb_instagram_header .sbi_header_text .sbi_bio {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  height: 60px;
  padding: 0 35px !important;
  border-radius: 2px;
  line-height: 60px;
}
.instagram-home24 #sb_instagram .sb_instagram_header a:hover .sbi_bio {
  color: var(--color);
}
.promotion-home24 .wrap {
  position: relative;
  margin: 0 -15px;
  overflow: hidden;
  padding: 80px 0 60px;
}
.single-product-style9 .promotion-home24 .wrap {
  padding: 30px 0 85px;
}
.promotion-home24 .wrap .item {
  float: left;
  width: 25%;
  padding: 0 15px;
}
.promotion-home24 .wrap .item .item-image {
  float: left;
  width: 35px;
  height: 35px;
  display: inline-block;
}
.promotion-home24 .wrap .item .item-content {
  margin-left: 55px;
}
.promotion-home24 .wrap .item .item-content h3 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.promotion-home24 .wrap .item .item-content p {
  font-size: 13px;
  color: #666;
  font-weight: 400;
  line-height: 22px;
}
.promotion-home24 .wrap .item.item1 .item-image {
  background: url('../assets/img/world.svg') no-repeat top center;
  background-size: cover;
}
.promotion-home24 .wrap .item.item2 .item-image {
  background: url('../assets/img/diamond.svg') no-repeat top center;
  background-size: cover;
}
.promotion-home24 .wrap .item.item3 .item-image {
  background: url('../assets/img/return-box.svg') no-repeat top center;
  background-size: cover;
}
.promotion-home24 .wrap .item.item4 .item-image {
  background: url('../assets/img/secure-payment.svg') no-repeat top center;
  background-size: cover;
}
.footer-top-home24 {
  margin: 15px 0 50px;
  border-top: 1px solid #ededed;
  padding-top: 70px;
}
.footer-top-home24 .socials-footer-24 h5 {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 20px;
}
.footer-top-home24 .socials-footer-24 .wrap-content ul {
  margin: 0;
  list-style: none;
}
.footer-top-home24 .socials-footer-24 .wrap-content ul >li {
  display: block;
}
.footer-top-home24 .socials-footer-24 .wrap-content ul >li a {
  font-size: 14px;
  color: #666;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
  padding: 6px 0;
}
.footer-top-home24 .socials-footer-24 .wrap-content ul >li a i {
  margin-right: 10px;
}
.footer-top-home24 .socials-footer-24 .wrap-content ul >li a:hover {
  color: var(--color);
}
.footer-top-home24 .elementor-widget-wp-widget-nav_menu h5 {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 20px;
}
.footer-top-home24 .elementor-widget-wp-widget-nav_menu ul.menu >li >a {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  display: block;
  padding: 6px 0;
}
.footer-top-home24 .elementor-widget-wp-widget-nav_menu ul.menu >li >a:hover {
  color: var(--color);
}
.footer-coppyright-home24 .copyright-text {
  text-align: left;
  font-size: 12px;
  color: #000;
  padding: 8px 0;
}
.footer-coppyright-home24 .copyright-text a {
  color: #000;
}
.footer-coppyright-home24 .copyright-text a:hover {
  color: var(--color);
}
@media (max-width: 1500px) {
  .header-bottom-elementor24>.elementor-container:before {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 1360px) and (max-width: 1480px) {
  .newsletter-home24 .wrap-content {
    padding: 42px 0;
  }
}
@media (max-width: 1199px) {
  .newsletter-home24 .wrap-content {
    padding: 10px 0;
  }
  .newsletter-home24 .wrap-content .mc4wp-form {
    min-width: 80%;
  }
  .newsletter-home24 .wrap-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .circle-text-home24 .elementor-widget-html .circle {
    top: 30px;
  }
  .header-mid-elementor24 .get-code {
    display: none;
  }
  #slider-home24 .see-more13 {
    font-size: 13px !important;
    padding: 0 10px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-bottom-elementor24 .elementor-widget-wp-widget-sw_vertical_menu:after {
    right: -25px;
  }
  .header-bottom-elementor24 .mega-left-title span:after {
    right: -10px;
  }
}
@media (max-width: 991px) {
  .header-top-elementor24 .header-message {
    display: none;
  }
  .header-top-elementor24 .top-right1 {
    width: 100% !important;
  }
  .header-top-elementor24 .top-right1 >.elementor-element-populated {
    justify-content: center;
  }
  .header-bottom-elementor24 .menu-verticle-home24 {
    display: none;
  }
  .sw-woo-tab-cat10 .resp-tab {
    margin: 20px 0;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs>li>a {
    font-size: 20px;
  }
  .brand-home24 .sw-brand-container-slider5 {
    padding: 0;
  }
  .brand-home24 .sw-brand-container-slider5 .title-home h2 {
    margin-bottom: 30px;
  }
  .block-step-design {
    margin: 40px 0 0;
  }
  .sw-woo-tab-listing {
    padding: 30px 0 !important;
  }
  .block-step-design .wrap .item h3 {
    font-size: 16px;
  }
  .block-step-design .wrap .item p {
    font-size: 14px;
    padding: 0;
  }
  .testimonial-slider2 {
    width: 80%;
    padding: 0;
  }
  .testimonial-slider2 .carousel-control {
    top: 65%;
  }
  .testimonial-slider2 .block-title h2 {
    margin: 0 0 20px;
  }
  .home-style24 .elementor-widget-wp-widget-sw_testimonial_slider >.elementor-widget-container {
    background-size: cover;
  }
  .instagram-home24 #sb_instagram #sbi_images .sbi_item {
    width: 33.333% !important;
  }
  .promotion-home24 .wrap {
    padding: 30px 0 20px;
  }
  .footer-top-home24 {
    padding: 40px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter-home24 .wrap-content>p {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-mid-elementor24 .elementor-column.elementor-col-33 {
    width: 50%;
  }
  .header-mid-elementor24 .top-left1 {
    width: 100% !important;
  }
  .header-mid-elementor24 .top-left1 >.elementor-element-populated {
    justify-content: center;
  }
  .header-mid-elementor24 .elementor-widget-image {
    margin: 0 0 20px;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs {
    top: 40px;
    display: none;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li {
    margin: 0;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li >a {
    padding: 5px 0;
    display: block;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li.active a:before,
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs >li:hover a:before {
    width: 0;
  }
  .sw-woo-tab-cat10 .resp-tab .top-tab-slider .nav.nav-tabs.in {
    display: block;
  }
  .newsletter-home24 .wrap-content {
    padding: 40px 0;
  }
  .promotion-home24 .wrap .item {
    width: 50%;
    margin: 0 0 10px;
  }
  .footer-coppyright-home24 .copyright-text,
  .footer-coppyright-home24 .elementor-widget-image {
    text-align: center !important;
  }
  .brand-home24 .sw-brand-container-slider5 .title-home h2 {
    line-height: 20px;
  }
  .footer-coppyright-home24 .elementor-widget-image {
    text-align: center !important;
  }
}
@media (max-width: 480px) {
  .header-mid-elementor24 .elementor-column.elementor-col-33 {
    width: 100%;
  }
  .header-mid-elementor24 .top-right1>.elementor-element-populated {
    justify-content: center;
  }
  .circle-text-home24 .elementor-widget-html .circle {
    display: none !important;
  }
  .elementor-image-box-img img {
    width: 100% !important;
  }
  .header-top-elementor24 .header24-block {
    display: none;
  }
  .block-step-design >h4 {
    margin: 0;
  }
  .block-step-design .wrap .item {
    float: none;
    width: 100%;
  }
  .testimonial-slider2 {
    width: 100%;
  }
  .testimonial-slider2 .block-title h2 {
    font-size: 24px;
  }
  .testimonial-slider2 .carousel-inner .item .item-inner .client-comment {
    padding: 35px 50px 20px;
  }
  .promotion-home24 .wrap .item {
    float: none;
    width: 100%;
  }
  .instagram-home24 #sb_instagram #sbi_images .sbi_item {
    width: 50% !important;
  }
}
