.header-style1>.elementor-container>.elementor-column>.elementor-element-populated {
  padding: 0 !important;
}
.home-style1 .elementor-column-gap-wide>.elementor-column>.elementor-element-populated {
  padding: 10px 15px;
}
.top-header-element2 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-mid-elementor2 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor2 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.top-header-element3 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-mid-elementor3 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor3 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.top-header-element4 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-mid-elementor4 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor4 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style8 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style9 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style10 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style11 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style12 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style13 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style14 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style15 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style16 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style17 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-style19 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor19 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.elementor-location-header .elementor-section-stretched >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor23 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.elementor-location-header .elementor-section-full_width >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-top-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-mid-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.content-home31 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.footer-home31 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-top-elementor30 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor30 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-top-elementor35 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor35 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-top-elementor36 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-mid-elementor36 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor36 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.header-bottom-elementor37 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 0 !important;
}
.home5-col-left {
  padding: 10px;
}
.home-style10 .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px 15px;
}
.home-style10 .slider-home10>.elementor-container .home10-image .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 5px !important;
}
.header-style12 .header-top-elementor12 {
  border-bottom: 0;
}
.header-style12 .header-top-elementor12 >.elementor-container {
  position: relative;
}
.header-style12 .header-top-elementor12 >.elementor-container:before {
  content: '';
  height: 1px;
  width: 98%;
  background-color: #e9e9e9;
  position: absolute;
  left: 15px;
  bottom: 0;
}
.home-style13 .footer-coppyright-13>.elementor-column-gap-default .elementor-column>.elementor-element-populated {
  padding: 0;
}
.home-style17 .header-top-elementor19 .top-right1>.elementor-widget-wrap {
  padding: 20px 0 !important;
}
.top-right1>div {
  align-items: center;
  align-content: center;
}
.top-left1>div {
  align-items: center;
  align-content: center;
}
.header-mid-elementor24 .top-login {
  padding: 0 !important;
}
.header-mid-elementor24 .elementor-widget-wp-widget-nav_menu ul.menu {
  margin: 0 !important;
}
@media (max-width: 1199px) {
  .header-top-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
  .header-mid-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
  .header-bottom-elementor29 >.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0 15px !important;
  }
}
@media (max-width: 480px) {
  .header-top-elementor30>.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px 0 !important;
  }
  .header-bottom-elementor33 .top-left1>.elementor-element-populated {
    justify-content: space-between !important;
  }
  .header-bottom-elementor33 .top-left1>.elementor-element-populated>div {
    width: auto !important;
  }
  .header-bottom-elementor33 .icon-sidebar {
    margin: 20px 30px 21px 15px !important;
  }
  .header-mid-elementor24 .top-form.top-search {
    margin: 0 0 20px;
  }
  .header-bottom-elementor37 .top-left1>.elementor-element-populated>div,
  .header-bottom-elementor37 .top-right1>.elementor-element-populated>div {
    width: auto !important;
  }
}
